@page "/"

<PageTitle>Password Manager</PageTitle>

<h1>Password Manager</h1>

<p>
    This is the web interface for your password vault.
</p>

<p>
    <NavLink class="btn btn-primary" href="login">Unlock vault</NavLink>
</p>
